.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    input {
        display: none !important;
    }
    button {
        i {
            font-style: normal !important;
            i {
                margin-left: 8px;
            }
        }
    }
    img {
        //width: 100%;
        height: 100%;
        padding: 5px;
        background: #fff;
        border-radius: 4px;

    }
}
.button {
    i{
        font-size: 16px !important;
    }
}
.img {
    height: 100%;
    position: relative;
    button {
        background: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border:none;
        position: absolute;
        top:-5px;
        right: -5px;
        z-index: 80;
    }
}
.hide {
    display: none;
}