.img {
    text-align: center;
    img {
        height: 450px;
        box-shadow: 2px 3px 4px rgba(0,0,0,.8);
        padding: 4px;
        background-color: #fff;
        border-radius: 4px;
    }
}