.categories {
    width: 100%;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    .btn {
        margin: 0 10px;
        font-weight: bold;
        color:#fff;
        border: 2px solid #f2f2f2;
        padding: 12px;
        border-radius: 4px; 
        font-size: 14px;
        min-width: 100px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        i {
            font-style: normal !important;
            z-index: 1;
            position: relative;
        }
        &:after{
            position: absolute;
            top:50px;
            left: 0;
            background-color: #329bdd;
            content: ' ';
            width: 100%;
            height: 100%;  
            transition: top linear .2s;
        }
    }
    .active {
        
        &:after{
            top: 0 !important;
        }
        
    }
}
.items {
    padding: 16px;
    .item {
        margin: 12px;
        width:23%;
        min-width: 280px;
        cursor: pointer;
        img {
            width:100%;
            background: #fff;
            
            padding: 5px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .title {
            color: #fff;
            text-align: center;
            margin-bottom: 4px;
        }
        .rating {
            text-align: center;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background: #fff;
            box-shadow: 0px 2px 4px rgba(0,0,0,.4);
            i {
                font-size: 20px;
            }
        }
    }
}