.categories {
    // &.black {
    //     .btn {
    //         color: #329bdd;
    //     }
    // }
    width: 100%;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    .btn {
        margin: auto 10px;
        font-weight: bold;
        color: #fff;
        border: 2px solid #f2f2f2;
        padding: 12px;
        border-radius: 4px;
        font-size: 14px;
        min-width: 100px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        vertical-align: middle;
        i {
            font-style: normal !important;
            z-index: 1;
            position: relative;
        }
        &:after {
            position: absolute;
            top: 120px;
            left: 0;
            background-color: #329bdd;
            content: " ";
            width: 100%;
            height: 100%;
            transition: top linear 0.2s;
        }
    }
    .active {
        color: #fff !important;
        &:after {
            top: 0 !important;
        }
    }
}

.reg_info {
    color: #fff;
    text-align: center;
}
.rating_update,
.vote_end {
    position: relative;
    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        content: " ";
    }
}
.rating_update {
    &:before {
        cursor: wait;
    }
}
.vote_end {
    &:before {
        cursor: not-allowed;
    }
}
.item_comment {
    position: relative;
    & > i {
        position: absolute;
        background: #5cb85c;
        color: #fff;
        font-size: 20px;
        padding: 10px;
        border-radius: 50%;
        top: 5px;
        right: -10px;
    }
}
.selected {
    & > i {
        position: absolute;
        background: #f0ad4e;
        color: #fff;
        font-size: 20px;
        padding: 10px;
        border-radius: 50%;
        top: 5px;
        left: -10px;
    }
}

.selectPhoto {
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.items {
    padding: 16px;

    .item {
        margin: 12px;
        width: 23%;
        //min-width: 270px;
        cursor: pointer;
        position: relative;
        img {
            width: 100%;
            background: #fff;

            padding: 5px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .title {
            color: #fff;
            text-align: center;
            margin-bottom: 4px;
        }
        .rating {
            text-align: center;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
            i {
                font-size: 20px;
            }
        }
        .value {
            width: 40px;
            height: 40px;
            background: #4cae4c;
            color: #fff;
            font-size: 16px;
            line-height: 40px;
            font-weight: bold;
            text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
            position: absolute;
            border-radius: 50%;
            right: -10px;
            bottom: -10px;
            text-align: center;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7) inset;
        }
    }
}

.fullImg {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 150;
    text-align: center;
    color: #fff;
    .title {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }
    .description {
        position: fixed;
        text-align: center;
        top: 88%;
        width: 100%;
    }
    .commentArea {
        position: fixed;
        top: 65px;
        width: 100%;
        height: 75%;
        text-align: center;
        textarea {
            margin: 0 auto;
            width: 50%;
            min-width: 400px;
        }
    }
    .ratingShowImg {
        top: auto !important;
        height: 40% !important;
        bottom: 10px;
    }
    .preview {
        position: fixed;
        left: 25px;
        top: 65px;
        width: 100%;
        height: 75%;
        text-align: center;
        img {
            margin: 0 auto;
            height: 100%;
            background: #fff;
            padding: 5px;
            border-radius: 4px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9);
        }
        i {
            position: fixed;
            background: #5cb85c;
            color: #fff;
            font-size: 20px;
            padding: 10px;
            border-radius: 50%;
            bottom: 80px;
            left: 90px;
            animation: show ease-in-out 0.4s;
        }
        @keyframes show {
            0% {
                opacity: 0;
                transform: scale(0.2);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .count {
        width: 100%;
        text-align: center;
    }
    .comment {
        position: fixed;
        left: 15px;
        bottom: 15px;
        .commentMessage {
            color: #fff;
            font-size: 16px;
            position: fixed;
            bottom: 35px;
            left: 110px;
        }
    }
    .ratingPreview {
        position: fixed;
        width: 100%;
        bottom: 5px;
        text-align: center;
        .content {
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.07);
            width: 250px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            > div {
                top: 6px;
            }
            i {
                font-size: 25px;
                text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9);
            }
        }
    }
    .left,
    .right {
        position: fixed;
        top: 46%;
        color: #fff;
        font-size: 40px;
    }
    .close {
        position: fixed;
        top: 10px;
        right: 20px;
        color: #fff;
        font-size: 40px;
        transition: all linear 0.2s;
    }
    .left,
    .right,
    .close {
        cursor: pointer;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
        &:hover {
            color: #dadada;
            box-shadow: none;
        }
    }
    .left {
        left: 20px;
    }
    .right {
        right: 20px;
    }
}
.buttonSave {
    bottom: 70px !important;
    .commentMessage {
        bottom: 80px !important;
        left: 80px !important;
    }
}
.buttonClose {
    //bottom: 0px;
    .commentMessage {
        bottom: 30px !important;
        left: 80px !important;
    }
}
