.content {
    background: rgba(255,255,255,.3);
    top:60px;
    position: relative;
    margin:12px 30px;
    span {
        color: #fff;
    }
    .center {
        text-align: center;
    }
    ul {
        text-align: center;
    }
    a {
        cursor: pointer;
    }
}
.pad {
    padding: 12px;
}
.group {
    margin-bottom: 14px;
    button {
        width: 200px;
    }
}
.group_control {
    margin-bottom: 14px;
    display: flex;
    input {
        margin-left: 20px;
        width: 80px;
    }
    button {
        width: 100px;
    }
    span {
        margin-top: 5px;
        margin-left: 5px;
    }   
}